.middle
{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card
{
    cursor: pointer;
    position: relative;
    width: 340px;
    height: 480px;
}
.front,.back
{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform .6s linear
}

.front img
{
    height: 100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}
.front 
{
    transform: perspective(400px) rotateY(0deg)
}
.back
{
    background: #f1f1f1;
    transform: perspective(600px) rotateY(180deg);
    /* transform: translate(-50%, -50%); */
}
.back-content
{
    color: #2c3e50;
    text-align: center;
    width: 100%;
}
.sm
{
    margin: 20px 0;
}
.sm a
{
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    color: #2c3e50;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 50%; 
}
.sm a:hover
{
    background: #2c3e50;
    color: white
}
.card:hover > .front
{
    transform: perspective(600px ) rotateY(-180deg)
}

.card:hover > .back
{
    transform: perspective(600px ) rotateY(0deg)
} 
.grit
{
    position: initial;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}
